build/
.gradle/
.kotlin/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.jks
*.keystore

**/build/
app/release/
/.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

*.iml
*.log
.DS_Store